@keyframes scroll {
	0%{transform:translate(0,0);}
	50%{transform:translate(-150px,-150px);}
	100%{transform:translate(0,0);}
}
body{
	overflow: hidden;
	height:700px;
	width:100%;
	z-index: -2;
}

#background{
	background: url("../img/background01.jpg") ;
	height:900px;
	width:1500px;
	animation: scroll 20s linear infinite;
	background-size: 100vw 100vw;
	z-index:-1;
	filter:blur(1px);

}

#billBoard{
	position: fixed;
	top:10%;
	left:15%;
	background-image:url("../img/billBoard.png") ;
    background-size: 100% 100%;
    width: 70%;
    height:100%;
	z-index: 0;
}


#quiz{
	position:fixed;
	background-image:url("../img/theme.png"); 
	background-size:100% 100%;
	top:17.4%;
	left:18.2%;
    width: 63.6%;
    height:57.8%;
}

